{
  "presets": [["es2015", { "modules": false }], "react", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    ["import", { "libraryName": "antd", "style": "css" }],
    "transform-runtime"
  ]
}
