.layout-content {
  height: 100%;
  font-size: 0;
}
.content-layout {
  height: calc(100% - 50px);
  display: flex;
  .left-menu {
    height: 100%;
  }
  .right-content {
    flex: 1;
    font-size: 14px;
    display: flex;
  }
}